{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="landing-container p-4">
        <div class="landing-grid">
            <h1 style="font-family: 'Roboto', sans-serif;">Tech IT <span style="color:var(--theme-color3);font-size:2.8rem;">We Do IT Better</span></h1>
            <h4 style="font-family: 'Lato', sans-serif;" class="pt-3"><b>
                "Every once in a while, a new technology, an old problem, and a big idea turn into an innovation."
            </b></h4>
            <div style="font-family: 'Lato', sans-serif;"><b>
                <span style="color:var(--theme-color4);">Innovate</span>
                <span style="color:#fff">Connect</span>
                <span style="color:var(--theme-color5);">Inspire</span>
            </b></div>
            <div><button class="btn btn-lg btn-outline-light">JOIN THE COMMUNITY</button></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'mainassets/audience.jpg' %}" class="img-fluid">
        </div>
        <div class="col-lg-6 p-5" style="background-image:url('/static/mainassets/night.jpg');background-size:cover;">
            <div class="join-competition-grid">
                <h5>GET EXPERIENCE</h5>
                <h1>Shift your perspective on Tech development.</h1>
                <h5>Transform your Ideas into Technology.</h5>
                <a href="{% url 'event:eventlist' isCompetition=1 %}"><button class="btn btn-outline-light my-2">JOIN COMPETITIONS</button></a>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <h3 style="opacity:0.8;">EVENT DETAILS</h3><br>
        <h6 style="opacity:0.8;">
            We are committed to making participation in the events a harassment free experience for everyone, 
            regardless of level of experience, gender identity and expression.
        </h6><br>

        <div class="row">
            {% for event in eventlist %}
            <div class="col-lg-4 col-md-6">
                <div class="rounded event-card" data-aos="zoom-in">
                    <div style="font-weight:bold;font-size:1.2rem;overflow:hidden;">{{ event.title }}</div>
                    <div style="font-weight:bold;opacity:0.6;"><span>{{ event.eventType }}</span>&nbsp;<span style="float:right;">{{ event.duration }}&nbsp;hr</span></div>
                    <span style="overflow:hidden;">{{ event.description }}</span>
                    <div><span style="font-weight:bold;opacity:0.6;">{{ event.startDateTime|date:'j M Y H:i' }}</span>&nbsp;<a href="{% url 'event:eventdetail' pk=event.id %}"><button class="btn btn-sm btn-outline-success" style="float:right;">PARTICIPATE</button></a></div>
                </div>
            </div>
            {% endfor %}
        </div>

        <span id="sponsors"></span>
        <div class="m-5 text-center">
            <a href="{% url 'event:eventlist' isCompetition=0 %}"><button class="btn btn-lg btn-outline-dark">MORE EVENTS</button></a>
        </div>
    </div>

    <div class="p-5 text-white text-center" style="background-image:url(/static/mainassets/istockphoto.jpg);background-size:cover;">
        <h5 style="opacity:0.8;">WHO HELPS US</h5>
        <h1>Our Sponsors</h1><br>
        <div class="m-2">
                <!-- <div class="row">
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor1.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor2.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor3.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor4.png' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor5.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor6.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor7.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor8.png' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor9.png' %}">
                    </div>
                </div> -->
        </div><br>
        <span id="contact"></span>
        <div class="m-3">
            <button class="btn btn-success btn-lg">BECOME A SPONSOR</button>
        </div>
    </div>
    <div class="contact-info row my-5 mx-2">
        <div class="col-md-6">
            <h1 style="opacity:0.6;">Contact Us</h1>
            <p>Our mailing address is:</p>
            <b style="font-family: 'Roboto', sans-serif;">
                <p>principal@bnmit.in</p>
                <p>Post Box No. 7087, 12th Main Road, 
                    27th Cross, Banashankari II Stage, Bangalore - 560070</p>
                <p>Phone: +91-80-26711781&nbsp;&nbsp;+91-80-26711782</p>
            </b>
            <h3>
                <i class="fa-brands fa-facebook"></i>&nbsp;
                <a href="https://www.instagram.com/techit.at.bnmit/"><i class="fa-brands fa-instagram"></i></a>&nbsp;
                <i class="fa-brands fa-linkedin"></i>&nbsp;
                <i class="fa-brands fa-twitter"></i>&nbsp;
            </h3>
        </div>
        <div class="col-md-6">
            <h6>Great vision without great people is irrelevent.</h6>
            <h6>Let's work together.</h6><br>
            <form class="contact-form" method="POST" action="{% url 'about:contact' %}">
                {% csrf_token %}
                <p><input class="form-control" name="contactfullname" type="text" placeholder="Full Name"></p>
                <p><input class="form-control" name="contactemail" type="email" placeholder="Email"></p>
                <p><input class="form-control" name="contactsubject" type="text" placeholder="Subject"></p>
                <p><textarea class="form-control" name="contactmessage" placeholder="Message" rows="10" cols="100" style="resize:none;"></textarea></p>
                <p><input class="btn btn-success w-100" value="Send" type="submit"></p>
            </form>
        </div>
    </div>
{% endblock %}