{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="landing-container p-4">
        <div class="landing-grid">
            <h1 style="font-family: 'Roboto', sans-serif;">Tech IT. <span style="color:var(--theme-color3)">Easy</span></h1>
            <h4 style="font-family: 'Lato', sans-serif;" class="pt-3"><span style="opacity:0.8;">Vision</span>
                &nbsp;<b>To lead and Influence the student community locally and nationally.</b></h4>
            <div style="font-family: 'Lato', sans-serif;"><b>
                <span style="color:var(--theme-color4);">Innovate</span>
                <span style="color:#fff">Connect</span>
                <span style="color:var(--theme-color5);">Inspire</span>
            </b></div>
            <div><button class="btn btn-lg btn-outline-light">JOIN THE COMMUNITY</button></div>
        </div>
    </div>

    <div class="p-4">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="300">
                <h1>Our Mission</h1>
                <div class="my-4" style="font-size:1.2rem;"> 
                    <ul>
                        <li>To show the importance of self-learning and self-uplifting.</li>
                        <li>To make students believe that a combination of an old problem and new technology will result in innovation.</li>
                        <li>To give students an opportunity to pursue problem-solving as more than just a means to land a job.</li>
                        <li>To encourage students to learn and explore technology in a collaborative manner.</li>
                        <li>To have a great impact in enhancing student's technical skills and developing interest in their  domain.</li>
                    </ul>
                    <span><b>“Every once in a while, a new technology, an old problem, and a big idea turn into an innovation.”</b></span>
                </div>
                <button class="btn btn-lg btn-success" style="background-color:#348888;">KNOW MORE</button>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Technology</h4>
                                <span style="font-size:1.1rem;">What new technology does is create new opportunities to do a job that customers want done.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/server.png' %}"></div>
                                <span class="mission-grid-card-bubble">1</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Team Up</h4>
                                <span style="font-size:1.1rem;">Together we can accomplish a job worth doing, and a success worth reaching.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/group.png' %}"></div>
                                <span class="mission-grid-card-bubble">2</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Skill Enhancement</h4>
                                <span style="font-size:1.1rem;">Develop a passion for learning. If you do, you will never cease to grow.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/mic.png' %}"></div>
                                <span class="mission-grid-card-bubble">3</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Fun</h4>
                                <span style="font-size:1.1rem;">It's fun to work as a community with like minded people.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/party.png' %}"></div>
                                <span class="mission-grid-card-bubble">4</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-1 pt-3 rounded text-center" style="background:#fff;">
        <h1 style="color:#e77402">TechIT's Core Team</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="core-team-profile-card" data-aos="zoom-in">
                    <div>
                        <img style="max-height:95%;border-radius:200%;"
                         class="img-fluid" src="{% static 'assets/img6Q.png' %}">
                    </div>
                    <h4>James Killer</h4>
                    <span style="font-size:1.2rem;opacity:0.8;">Founder, Edilta</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'mainassets/audience.jpg' %}" class="img-fluid">
        </div>
        <div class="col-lg-6 p-5" style="background-image:url('/static/mainassets/vda.jpg');background-size:cover;">
            <div class="join-competition-grid">
                <h5>GET EXPERIENCE</h5>
                <h1>Shift your perspective on Tech development.</h1>
                <h5>Transform your Ideas into Technology.</h5>
                <button class="btn btn-outline-light my-2">JOIN COMPETITIONS</button>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <h3 style="opacity:0.8;">EVENT DETAILS</h3><br>
        <h6 style="opacity:0.8;">
            World is committed to making participation in the event a harassment free experience for everyone, 
            regardless of level of experience, gender, gender identity and expression.
        </h6><br>

        {% for event in eventlist %}
            <a href="{% url 'event:eventdetail' pk=event.id %}">
            <div id="schedule" data-aos="zoom-out" class="row my-3 rounded align-items-center bg-white" style="min-height:250px;">
                <div class="col-md-3 bg-dark rounded p-3 text-white">
                    <h5>
                        FROM: {{ event.startDateTime|date:"D d M Y" }}&nbsp;{{ event.startDateTime|time:"f A" }}<br>
                        TO: {{ event.endDateTime|date:"D d M Y" }}&nbsp;{{ event.endDateTime|time:"f A" }}
                    </h5>
                    <h5>{{ event.eventType }}</h5>
                </div>
                <div class="col-md-4 my-1">
                    <img src="{{ event.picture.url }}" style="height:250px;" class="img-fluid">
                </div>
                <div class="col-md-5 p-2 text-dark" style="display:grid;grid-template-rows:15% 22% auto;min-height: 250px;">
                    <h5 style="opacity:0.8;overflow:hidden;">{{ event.organizer }}</h5>
                    <h2 style="overflow:hidden;">{{ event.title }}</h2>
                    <h5 style="opacity:0.8;overflow:hidden;">
                        {{ event.description }}
                    </h5>
                </div>
            </div>
            </a>
        {% endfor %}
        <span id="sponsors"></span>
        <div class="m-5 text-center">
            <a href="{% url 'event:eventlist' %}"><button class="btn btn-lg btn-outline-dark">MORE EVENTS</button></a>
        </div>
    </div>

    <div class="p-5 text-white text-center" style="background-image:url(/static/mainassets/istockphoto.jpg);background-size:cover;">
        <h5 style="opacity:0.8;">WHO HELPS US</h5>
        <h1>Our Sponsors</h1><br>
        <div class="m-2">
                <div class="row">
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor1.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor2.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor3.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor4.png' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor5.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor6.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor7.png' %}">
                    </div>
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor8.png' %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-5">
                        <img class="img-fluid" style="height:50px;width:auto;" src="{% static 'assets/sponsors/sponsor9.png' %}">
                    </div>
                </div>
        </div><br>
        <span id="contact"></span>
        <div class="m-3">
            <button class="btn btn-success btn-lg">BECOME A SPONSOR</button>
        </div>
    </div>
    <div class="contact-info row my-5 mx-2">
        <div class="col-md-6">
            <h1 style="opacity:0.6;">Contact Us</h1>
            <p>Our mailing address is:</p>
            <b style="font-family: 'Roboto', sans-serif;">
                <p>principal@bnmit.in</p>
                <p>Post Box No. 7087, 12th Main Road, 
                    27th Cross, Banashankari II Stage, Bangalore - 560070</p>
                <p>Phone: +91-80-26711781&nbsp;&nbsp;+91-80-26711782</p>
            </b>
            <h3>
                <i class="fa-brands fa-facebook"></i>&nbsp;
                <i class="fa-brands fa-instagram"></i>&nbsp;
                <i class="fa-brands fa-linkedin"></i>&nbsp;
                <i class="fa-brands fa-twitter"></i>&nbsp;
            </h3>
        </div>
        <div class="col-md-6">
            <h6>Great vision without great people is irrelevent.</h6>
            <h6>Let's work together.</h6><br>
            <form class="contact-form" method="POST" action="{% url 'about:contact' %}">
                {% csrf_token %}
                <p><input class="form-control" name="contactfullname" type="text" placeholder="Full Name"></p>
                <p><input class="form-control" name="contactemail" type="email" placeholder="Email"></p>
                <p><input class="form-control" name="contactsubject" type="text" placeholder="Subject"></p>
                <p><textarea class="form-control" name="contactmessage" placeholder="Message" rows="10" cols="100" style="resize:none;"></textarea></p>
                <p><input class="btn btn-success w-100" value="Send" type="submit"></p>
            </form>
        </div>
    </div>
{% endblock %}