.faq-card{
    padding: 16px;
    background: #fff;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    margin: 10px 0px;
    font-size: 1.1rem;
    font-weight: bold;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
}
.join-container{
    position: relative;
    margin-top:80px;
    height:calc(100vh - 80px);
    width:100vw;
    background-color: #000;
}
.video-container{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.join-content{
    position:absolute;
    top:10%;
    left:5%;
    right:5%;
    color:white;
    z-index: 5;
}