{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="auth-container">
    <div class="login-card rounded">
        <h1 style="font-family:Lato;">LOGIN</h1>
        <img style="height:100px;width:100px;border-radius:200px;" src="{% static  'assets/img6Q.png' %}"/>
        <form method="POST" class="rounded my-4">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login" class="btn btn-outline-success px-5"/>
        </form>
    </div>
</div>
{% endblock %}