{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top:120px;">
    
    <div class="p-4">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="300">
                <h1>Our Vision</h1>
                <div class="my-4" style="font-size:1.2rem;">
                    <p>To lead and Influence the student community locally and nationally.</p>
                    <p>To become a front-runner in preparing students to be efficient problem solvers, researchers, innovators, and entrepreneurs, and making them competent professionals.</p>                    </p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="300">
                <h1>Our Mission</h1>
                <div class="my-4" style="font-size:1.2rem;"> 
                    <p>To make students believe that a combination of an old problem and new technology will result in innovation.</p> 
                    <p>To give students an opportunity to pursue problem-solving as more than just a means to land a job.</p>                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="300">
                <h1>Our Objectives</h1>
                <div class="my-4" style="font-size:1.2rem;"> 
                    <p>To encourage students to learn and explore technology in a collaborative manner.</p> 
                    <p>To have a great impact on enhancing student’s technical skills and developing interest in their domain.</p>                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Technology</h4>
                                <span style="font-size:1.1rem;">What new technology does is create new opportunities to do a job that customers want done.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/server.png' %}"></div>
                                <span class="mission-grid-card-bubble">1</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Team Up</h4>
                                <span style="font-size:1.1rem;">Together we can accomplish a job worth doing, and a success worth reaching.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/group.png' %}"></div>
                                <span class="mission-grid-card-bubble">2</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Skill Enhancement</h4>
                                <span style="font-size:1.1rem;">Develop a passion for learning. If you do, you will never cease to grow.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/mic.png' %}"></div>
                                <span class="mission-grid-card-bubble">3</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-out" data-aos-delay="300">

                        <div class="mission-grid-card mt-2 pt-3 rounded">
                            <div>
                                <h4>Fun</h4>
                                <span style="font-size:1.1rem;">It's fun to work as a community with like minded people.</span>
                            </div>
                            <div style="display:grid;grid-template-rows:70% 30%;">
                                <div><img class="img-fluid" style="opacity:0.6;transform:translateX(1rem);" src="{% static 'mainassets/party.png' %}"></div>
                                <span class="mission-grid-card-bubble">4</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-1 pt-3 rounded text-center" style="background:#fff;">
    <h1 style="color:#e77402">TechIT's Core Team</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/png_20221201_194202_0000.jpg' %}">
                </div>
                <h4>Parth Kumar Tiwari</h4>
                <span style="font-size:1.2rem;opacity:0.8;">President</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/png_20221201_194349_0000.jpg' %}">
                </div>
                <h4>Shreya M</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Vice President</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/20221201_195532_0000.jpg' %}">
                </div>
                <h4>Sreyansh Baranwal</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Secretary</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/png_20221201_195652_0000.jpg' %}">
                </div>
                <h4>Siddhant Priyadarshi</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Assistant Secretary</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/png_20221201_194033_0000.jpg' %}">
                </div>
                <h4>Sanmathi S</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Treasurer</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/png_20221201_194423_0000.jpg' %}">
                </div>
                <h4>Vishwas S</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Treasurer</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/anish.png' %}">
                </div>
                <h4>Anish Kumar</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Web Master</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                        class="img-fluid" src="{% static 'team/png_20221201_194130_0000.jpg' %}">
                </div>
                <h4>Sudhanva B</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Web Master</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_193403_0000.jpg' %}">
                </div>
                <h4>Neha Satish</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Publicity officer</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_194647_0000.jpg' %}">
                </div>
                <h4>Kotta Snigdhashree</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Publicity officer</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_193711_0000.jpg' %}">
                </div>
                <h4>Aryan Patnaik</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Publicity officer</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/20221201_200018_0000.jpg' %}">
                </div>
                <h4>Shreya Sandesh</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Publicity officer</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_195000_0000.jpg' %}">
                </div>
                <h4>Charan Kannati</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_195058_0000.jpg' %}">
                </div>
                <h4>Yash Nathani</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_194831_0000.jpg' %}">
                </div>
                <h4>Brunda MS</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_194543_0000.jpg' %}">
                </div>
                <h4>Samhitha Holla</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_195848_0000.jpg' %}">
                </div>
                <h4>Ajitesh Soni</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_193800_0000.jpg' %}">
                </div>
                <h4>Madhav</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_200112_0000.jpg' %}">
                </div>
                <h4>Yash Raj</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_194711_0000.jpg' %}">
                </div>
                <h4>Shamanth Kashyap</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/20221201_194618_0000.jpg' %}">
                </div>
                <h4>Abhiram BS</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="core-team-profile-card" data-aos="zoom-in">
                <div>
                    <img style="max-height:95%;border-radius:200%;"
                    class="img-fluid" src="{% static 'team/png_20221201_195513_0000.jpg' %}">
                </div>
                <h4>Chirag</h4>
                <span style="font-size:1.2rem;opacity:0.8;">Core Member</span>
            </div>
        </div>
    </div>

    </div>
{% endblock %}