{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="join-container">
    <div class="video-container">
        <video autoplay muted loop style="height:100%;width:100%;">
            <source src="https://dbaeuaq4u8zso.cloudfront.net/video_back.mp4" type="video/mp4">
        </video>
    </div>
    <div class="join-content">
        <h1>JOIN COMMUNITY</h1><br>
        <h2 style="opacity:0.8;">Dear Creative,</h2>
        <div style="letter-spacing: 1px;font-size:1.1rem;opacity:0.8;">
            TechIT is a coding club that aims at bringing out efficient problem-solvers, researchers, 
            innovators and entrepreneurs.<br>
            Our club is filled with enthusiastic and tech-friendly tutors to guide you through the journey!
            Can't wait to have you with us.<br>
            Cheers!!!
        </div><br>
        <h4><span style="opacity:0.8;">Mail us at </span><b>techit.bnmit@gmail.com</b></h4>
    </div>
</div>

{% endblock %}