.gallery-item-container{
    position: relative;
}
.gallery-item-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.gallery-item-container:hover .gallery-item-overlay{
    opacity: 1;
}
.gallery-item-caption{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family:sans-serif;
    transform: translate(-50%, -50%);
}

.backdrop{
    display: none;
    position: fixed;
    top:80px;
    right:0;
    width:100vw;
    height: calc( 100vh - 80px);
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    z-index: 5;
}

.backdrop-content{
    background: whitesmoke;
    padding:15px;
    min-width: 350px;
    max-width: 90vw;
}
.backdrop-content img{
    cursor: pointer;
}

.backdrop-close{
    font-size:35px;
    color:black;
    opacity:0.8;
    cursor: pointer;
    float: right;
    margin-bottom: 5px;
}